[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=learn4all
Exec=/usr/bin/invoker --type=d -s /opt/learn4all/bin/learn4all
Icon=/usr/share/icons/hicolor/80x80/apps/learn4all80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
